<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>age</key>
		<integer>18</integer>
		<key>title</key>
		<string>xiaoming</string>
	</dict>
	<dict>
		<key>age</key>
		<integer>19</integer>
		<key>title</key>
		<string>xiaohong</string>
	</dict>
	<dict>
		<key>age</key>
		<integer>20</integer>
		<key>title</key>
		<string>xiaozhang</string>
	</dict>
	<dict>
		<key>age</key>
		<integer>18</integer>
		<key>title</key>
		<string>xiaowan</string>
	</dict>
</array>
</plist>
